* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
--main-bg: #3b3b3b;
--background-colour-all: rgb(224, 224, 224);
/* HEADER */
--header-container-width: 30%;
/* BODY */
--body-main-container-width: 30%;
--list-body-width: 90%;

/* FOOTER */
--footer-container-width: 30%;
}


.app-body {
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--main-bg);
  
  .header-container {
    margin: 2%;
    align-items: center;
    text-align: center;
    width: var(--header-container-width);
    height: auto;
    background-color: var(--background-colour-all);
    
    .header-header {
      justify-content: center;

      .header-heading {
        justify-content: center;
        text-align: center;
      }
    }
  }
}

.body-main-container {
  background-color: var(--background-colour-all);
  width: var(--body-main-container-width);
  margin: 2%;
  align-items: center;
  justify-items: center;
  text-align: center;
  .body {
    width: var(--list-body-width);
  }
  .task-list {
    width: 100%;
    height: 200px;
    li {
      list-style: none;
      width: 100%;
      height: auto;
      border-bottom: 1px solid rgb(167, 167, 167);
      text-align: left;
    }
  }
}

.footer-container {
  background-color: var(--background-colour-all);
  width: var(--footer-container-width);
  .footer-list {
    list-style: none;
  }
}